<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>363338991577-se75isea5c3677omkf1rlv7j57vv3qo9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363338991577-se75isea5c3677omkf1rlv7j57vv3qo9</string>
	<key>API_KEY</key>
	<string>AIzaSyCHn-jBD7uzqQqbe1UEcU0-Q44Ehg1SgbU</string>
	<key>GCM_SENDER_ID</key>
	<string>363338991577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demansoltech.wagrapp</string>
	<key>PROJECT_ID</key>
	<string>testwagr</string>
	<key>STORAGE_BUCKET</key>
	<string>testwagr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363338991577:ios:79411e59088266f9</string>
	<key>DATABASE_URL</key>
	<string>https://testwagr.firebaseio.com</string>
</dict>
</plist>