<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>19920187507-9j5t8cb9r6vkf0qnuv5q9mk3adrl5h6q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19920187507-9j5t8cb9r6vkf0qnuv5q9mk3adrl5h6q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>19920187507-0ch0uorofj07mel4o0lt75tdg80htvuc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCWRKgXnnalWlhEcSA81S_wEAc0D9AQqCA</string>
	<key>GCM_SENDER_ID</key>
	<string>19920187507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mmit.goodscustomer</string>
	<key>PROJECT_ID</key>
	<string>goods-dts</string>
	<key>STORAGE_BUCKET</key>
	<string>goods-dts.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19920187507:ios:5900e2c0a04273c5</string>
	<key>DATABASE_URL</key>
	<string>https://goods-dts.firebaseio.com</string>
</dict>
</plist>